body {
  margin: 0;
  padding: 0;
  margin-bottom: 200px;
}

#Menu {
  background-color: purple;
  color: #cccccc;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#Menu a {
  color: #cccccc;
  text-decoration: none;
}

#Menu a:hover {
  color: #ffffff;
}

#MenuButton {
  cursor: pointer;
  padding: 0.5em;
  display: inline-block;
}

.MenuItem {
  padding: 0.3em;
  border-radius: 0.5em;
  cursor: pointer;
}

#LoginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#LoginForm input, button {
  margin: 0.2em;
}

#LoginForm div {
  color: #f00;
  font-family: sans-serif;
  font-size: 0.8em;
}

#LoginFormError {
  white-space: nowrap;
  width: 100%;
  margin-bottom: 0.5em;
  text-transform: capitalize;
  cursor: pointer;
}

#TopBar {
  background-color: purple;
  padding: 1em;
  position: relative;
  justify-content: space-between;
}

#searchForm {
  position: relative;
  display: inline-block;
}

#searchResults {
  position: absolute;
  background-color: antiquewhite;
  color: black;
  border: solid 2px;
  border-color: darkslategray; 
  cursor: pointer;
  white-space: nowrap;
}

#searchResults a {
  color: black;
}

#logoutButton {
  background-color: purple;
  color: white;
  border: none;
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  display: inline-block;
}
